<h1>All post for a particular user id will be displayed here</h1>
<div class='post-cont d-flex f-col a-center j-center'>
   <div class='user details img d-flex a-center j-center'>
     <%= image_tag('profilepic.png', width:'250px', height:'250px') %>
     <div class='user-details d-flex a-center j-center'>
        <h1><%= @user.name %></h1>
        <p> Number of Posts: <%= @user.postscounter %> </p>
     </div>
  </div>
  <% @posts.each do |post| %>
    <div class='post-comments-cont d-flex f-col a-center j-center'>
      <div class='post-cont-details'>
      <div>
        <%=link_to user_post_path(@user.id, post.id) do %>
          <h1><%= post.title %></h1>
        <%end%>
        <%if can? :destroy, post %>
              <%= button_to "Delete Post", user_post_path(@user.id, post.id), :method => :delete %>
        <%end%>
      </div>
      
        <p><%= post.text %></p>
        <p class='comment-likes-counter d-flex a-center'>
                <span>Comments: <%= post.commentscounter %></span>,
                 <span>Likes: <%= post.likescounter %></span>
        </p>
      </div>
      <div class='comment-cont'>
        <% post.comment_5_recent.each do |comment| %>
        <p> <%="#{comment.author.name}: #{comment.text} " %></p>
        <%end%>
      </div>       
    </div>
  <%end%>
  <div>
    <button class='add-post-btn'>
        <%=link_to "Add a Post", new_user_post_path(:user_id => @user.id) %>
    </button>
  </div>

 
</div>
