<h1>All details about a specific post for a particular user id will be displayed here.</h1>
 <div class="flash d-flex a-center j-center">
    <% flash.each do |name, msg| %>
      <p class=<%= name %>><%= msg %> </p>
    <% end -%>
</div>
<div class='post-comments-cont d-flex f-col a-center j-center'>
    <div class='post-cont-details'>
         <div class='header-comments-counter d-flex a-center j-center'>
          <h1><%="#{@post.title} by #{@user.name}"%></h1>
          <p class=' d-flex a-center j-center'><%= "Comments: #{@post.commentscounter}, Likes: #{@post.likescounter}"%></p>
         </div>
        <p><%=@post.text%></p>
    </div>
    <div class='comment-cont'>
       <% @comments.each do |comment| %>
         <p><%="#{comment.author.name}: #{comment.text}" %></p>
       <%end%>
    </div>
    <%=form_with url: user_post_comments_url(@user.id, @post.id), scope: :data do |f| %>
      <div>
        <%= f.label :comment %>
        <%= f.text_area :comment, :required=>true %>
        <%= f.submit "Comment"%>
      </div>
    <% end %>
    <%=form_with url: user_post_likes_url(@user.id, @post.id), scope: :data do |f| %>
      <div>
        <%= f.submit "Like"%>
      </div>
    <% end %>

    
</div>

